
#header {
    margin-left: 30%;
    margin-top: -30px;
    font-size: 50px;
    font-weight: bolder;  
    height: 3vh;
}

#left-bar {
    border: gainsboro solid 2px ;
    font-weight: bolder;
    height: 150vh;
    text-align: center;   
}

#weather-info {
    border: solid gainsboro 2px;
    
}


#city {
    margin-top: 15px;
    font-size: 25px;
    text-align: center;
}


.rigth-bar {
   
    margin-bottom: 10px;
}

.container {
    display:inline-flex;
}


li {
    width: 95%;
    height: 40px;
    text-align: center;
    align-content: center;
    margin-left: -15px;
    margin-bottom: 5px;;
    border:solid gray 1px;

}

li:hover {
    background-color:lightcyan;  
}

#recent-cities {
    list-style-type: none;
    margin-top: 20px;
}